/*reset des marges, police et de la mise en forme des liens*/

* {
    margin: 0;
    padding: 0;
    font-family: "League Spartan, sans-serif";
    text-decoration: none;
    color: black;
}

/*Police d'écriture des titres*/

h1, h2 {
    font-family: "Lexend Deca", sans-serif;
}